@media (min-width: 768px) {
    #menuBtn {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        gap: 1rem;
    }

    .album {
        grid-template-columns: repeat(3, 1fr);
    }
}